<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>job calls DBDIff to generae sql file of databases differences</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <EnvInjectJobProperty plugin="envinject@2.1.5">
      <info>
        <propertiesFilePath>${JENKINS_WORKSPACE}\config.properties</propertiesFilePath>
        <secureGroovyScript plugin="script-security@1.44">
          <script></script>
          <sandbox>false</sandbox>
        </secureGroovyScript>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
    </EnvInjectJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\Soft\jenkins_scripts</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#comment just to test SCM Synch plugin
cd ${JENKINS_WS}/Test/scripts/common/database
./dbdiff_process.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>